.home-page {
  margin-top: 40px;
}


.all-details {
  margin-left: 10px;
}

.favorite-btn {
  border: none;
  background-color: none;
  color: none;
  width: 25px;
}

.show-btn {
  margin-right: 10px;
}